.Beer {
  padding: 0 1rem;
  text-align: center;
  .beer-details {
    .beer-heading {
      margin-top: 2rem;
    }
    .beer-info {
      .beer-subheading {
        font-size: 1rem;
      }

      .beer-subheading > span {
        font-weight: bolder;
      }

      .beer-subheading > a:hover {
        color: #206a5d;
      }
    }

    .beer-img {
      display: flex;
      justify-content: center;
      margin: 1.5rem auto;
      width: 80%;
    }
  }

  .beer-description,
  .beer-description p,
  .beer-description span,
  .beer-description a {
    font-size: 0.95rem;
  }

  .beer-description > p {
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;
    width: 95%;
  }
}

div > h2 > i {
  font-size: 7rem;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .Beer {
    .beer-details {
      .beer-heading {
        font-size: 2.5rem;
      }

      .beer-info {
        .beer-subheading,
        .beer-subheading > p,
        .beer-subheading span,
        .beer-subheading a {
          font-size: 1.4rem;
        }
      }
    }
  }
}
