.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  // width: 90%;
  .home-heading {
    font-size: 3rem;
    margin-top: 5rem;
  }

  .heading-icon i {
    font-size: 15rem;
    margin: 5rem 0;
  }

  .home-content {
    .home-text {
      font-size: 2rem;
      padding: 2rem;
    }

    .home-text span {
      border-bottom: 2px solid #206a5d;
      font-size: 2rem;
      font-weight: bolder;
    }
  }
}
